/build.config
/build/
/build-debug/
/build-relwithdebinfo/
/test-output/
/lib/
/output/
/output_test/
/tools/*
*.tar.gz
!/tools/pkgs/
!/tools/prepare.sh
!/tools/install_scripts/
.DS_Store
/docs/
*.swp
*.idea
*.swo
!/pico.yaml
/.idea/
tags
/cmake-build-*/
*.pyc
*pico_main.json
/tmp_headers_dir/
.unittest_tmp/
/core.*
*.so
graph_train.json
graph_valid.json
/test-common/ps-predictor/*/target
*.class
*.log
/pom.xml
/predictor/java/pom.xml
/controller/controller-restful/pom.xml
sftp-config.json
/applications/mle/doc/_build
/applications/mle/doc/generated
.ycm_extra_conf.py
CMakeCache.txt